
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #3490dc;
$accent: #3490dc;
$blue: #3490dc;
$darkBlue: #0c1224;
$lightBlue: #0892d0;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #e4ebf7;
$primaryText: #515974;

// $info: #fcc505;
// $success: #13d0e4;